
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 13% 98%;
    --foreground: 250 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 250 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 40% 10%;
    --primary: 250 40% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 50% 96%;
    --secondary-foreground: 220 50% 48%;
    --muted: 220 10% 94%;
    --muted-foreground: 250 20% 45%;
    --accent: 220 50% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 250 40% 39%;
    --radius: 1rem;
    --chart-1: 250 40% 39%;
    --chart-2: 220 50% 48%;
    --chart-3: 255 13% 98%;
    --chart-4: 250 20% 45%;
    --chart-5: 0 0% 100%;
  }
  .dark {
    --background: 250 40% 5%;
    --foreground: 0 0% 98%;
    --card: 250 40% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 250 40% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 250 40% 60%;
    --primary-foreground: 250 40% 5%;
    --secondary: 220 50% 15%;
    --secondary-foreground: 220 50% 80%;
    --muted: 220 10% 15%;
    --muted-foreground: 250 20% 70%;
    --accent: 220 50% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 250 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
